<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="data:;base64,=">
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 0px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }








    </style>
</head>
<body>
<h3>Список книг</h3>

<table class="books">
    <thead>
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Жанры</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="bookTableBody">
    </tbody>
</table>
<div class="row">
    <a href="book-add.html" th:href="@{/books/add}">
        <button type="button">Добавить книгу</button>
    </a>
</div>

<div class="row">
    <a href="authors.html" th:href="@{/authors}">
        <button type="button">Посмотреть список авторов</button>
    </a>
</div>

<div class="row">
    <a href="genres.html" th:href="@{/genres}">
        <button type="button">Посмотреть список жанров</button>
    </a>
</div>

<script th:src="@{js/books.js}"></script>

</body>
</html>
