<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <style type="text/css">
        body {
            padding: 0px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }




    </style>
</head>
<body>
<h3>Жанры:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>Название</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}" th:object="${genre}">
        <td th:text="*{name}">Genre_1</td>
    </tr>
    </tbody>
</table>
<a href="books.html" th:href="@{/}">
    <button type="button">Назад</button>
</a>
</body>
</html>
